---
import { project } from "src/config";
---
<h2 class="title">Project</h2>
<div class="card-container" id="projects">
</div>
<script is:inline set:html={`window.project_config = ${JSON.stringify(project)}`}></script>
<script is:inline>

fetch(`https://api.github.com/users/${project_config.github_name}/repos?per_page=10`).then(res => res.json()).then(res => {
    injectProjects(res)
})

function injectProjects(data){
    data.sort((a,b) => b.stargazers_count - a.stargazers_count);
    if(project_config.filter_readme){
        data = data.filter(p => p.name.trim().toUpperCase() !== project_config.github_name.trim().toUpperCase())
    }
    const container = document.getElementById('projects');
    const domStr = data.map(pr => `
        <a class="github-card" href="${pr.html_url}">
            <div class="name">${pr.name}</div>
            <div class="desc">${pr.description || ''}</div>
            <div class="info">
                <span class="language">${pr.language || ''}</span>
                <span class="star">⭐${pr.stargazers_count}</span>
            </div>
        </a>
    `).join('');
    container.innerHTML = domStr
}
</script>

<style>
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
@media screen and (max-width: 768px){
    .card-container{
        grid-template-columns: 1fr;
    }
}
</style>
<style is:global>
.github-card{
    border: 3px solid rgba(var(--text-color-meta), 0.1);
    background: rgba(var(--card-bg-meta), 0.2);
    border-radius: var(--base-radius);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.2em; 
}
.github-card:hover{
    background: rgba(var(--card-bg-meta), 0.5);
}
.github-card .name{
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.4;
}
.github-card .desc{
  flex: 1;
}
.github-card .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>